<!DOCTYPE html>
<html>
<title>Heart Disease Detector</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
    background-color: #8A0707 ;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://i.imgur.com/7somdpT.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

<head>
<script src="jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>



<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    
    <span class="w3-jumbo w3-hide-small">Heart Disease Detector Using Machine Learning</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
    <span class="w3-large">“She smiled, and there it was again, that aching pressure in his chest. Love, or a heart attack. Kind of the same thing.” ― Kristan Higgins, Somebody to Love</span>
    <p><a href="#form" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Let's Go</a></p>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">About the Team</a></p>
  </div> 
</header>





<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="form">
  <h3 class="w3-center">Health Form</h3>
  <p class="w3-center w3-large">Please input your message:</p>
  <div style="margin-top:48px">
    <br>
    <div class="w3-container" style="">
      <div style="width:50%; float:left">
        <form action="/" method="post" id="sebuah-form">
          {{ form }}
          <br />
          <p>
            <button class="w3-button w3-black" type="submit">
              <i class="fa fa-paper-plane"></i> SUBMIT
            </button>
            <button class="w3-button w3-black" onclick="myFunction2()" type="reset">
              <i class="fa fa-refresh"></i> RESET
            </button>
            <script>
              function myFunction2() {
                console.log("debug")
                document.getElementById("result").innerHTML = ""}
            </script>
          </p>

        </form>
        <h2 id="result">
        
      </h2>
      </div>
      <div>
        &nbsp;
      </div>
      <div style="width:45%; float:right">
        <h3 style="text-align: center">Information</h3>
        <br/>
        <p>For each attribute, here is the definition:</p>
        <p>1. Name: Your Fullname.</p> 
        <p>2. Age: Your current age.</p> 
        <p>3. Sex: Your gender type.</p> 
        <p>4. Chestpain: Type of Chest Pain:</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Typical Angina: Discomfort that is noted when the heart does not get enough blood or oxygen.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Atypical Angina:  Often doesn’t cause pain, but you may feel a vague discomfort in your chest, experience shortness of breath, feel tired or nauseous, have indigestion, or pain in your back or neck.</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Non-Anginal Pain: chest pan duration is over 30 minutes or less than 5 seconds, it increases with inspiration, can be brought on with one movement of the trunk or arm, can be brought on by local fingers pressure, or bending forward, or it can be relieved immediately on lying down</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. Asymptomatic: Neither causing nor exhibiting symptoms of disease.</p>
        <p>5. Resting blood pressure: the pressure of the blood in the circulatory system, often measured for diagnosis since it is closely related to the force and rate of the heartbeat and the diameter and elasticity of the arterial walls</p>
        <p>6. Serum cholestoral: a measurement of certain elements in the blood, including the amount of high- and low-density lipoprotein cholesterol (HDL and LDL) in a person's blood</p>
        <p>7. Fasting blood sugar: is the result of a blood sample taken after a patient fasts for at least eight hours. A normal fasting blood sugar level for someone without diabetes is less than 100 mg/dL, or HbA1C below 5.7%.</p>
        <p>8. Resting Electrocardiographic results <br/>
        -- Normal <br/>
        -- Having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV) <br/>
        -- Showing probable or definite left ventricular hypertrophy by Estes' criteria<br/></p>
        <p>9. Thalach: maximum heart rate achieved</p>
        <p>10. Exercise induced angina: chest pain happens while exercising</p>
        <p>11. ST depression: ST depression refers to a finding on an electrocardiogram,wherein the trace in the ST segment is abnormally low below the baseline.</p>
        <p>12. Slope: the slope of the peak exercise ST segment <br />
        -- Upsloping<br />
        -- Flat<br />
        -- Downsloping<br /></p>
        <p>13. Fluoroscopy: A test that uses a steady beam of x-rays (like a movie) to look at parts of the body and movement within the body, such as blood moving through a blood vessel. </p>
        <p>14. Thallium Heart Scan: a diagnostic test that uses a special perfusion-scanning camera and a small amount of thallium-201, a radioactive substance, injected into the bloodstream to produce an image of the blood flow to the heart.</p>

      </div>
    </div>
    


      
    
  </div>
</div>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center w3-text-white">ABOUT THE TEAM</h3>
  <p class="w3-center w3-large w3-text-white">Strike Counter</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large w3-text-white">Responsive</p>
      <p class= "w3-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large w3-text-white">Passion</p>
      <p class= "w3-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large w3-text-white" >Design</p>
      <p class= "w3-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large w3-text-white">Support</p>
      <p class= "w3-text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>
</div>

 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

$(document).ready(
  function(){var $myForm = $('#sebuah-form');
  $myForm.submit(function(event){
    document.getElementById("result").innerHTML = "Loading...";
    event.preventDefault();
    var formData = $myForm.serialize();
    console.log(formData);
    $.ajax({
      url: "/calculate/",
      method: "POST",
      data: formData,
      success: function(response){
        result = ''
        if(response['result'] == '1') {
          result = 'Halo ' + response['name'] + ", "  + 'Anda berpotensi terkena penyakit jantung'
        } else {
          result = 'Halo ' + response['name'] + ", "  + 'Anda tidak berpotensi terkena penyakit jantung'
        }
        document.getElementById("result").innerHTML = result + '<br/> Akurasi data adalah ' + response['accuracy'] +'%' + '<br/> Presisi data adalah ' + response['precision'] + '%' + '<br/> Recall data adalah ' + response['recall'] + '%';
      }
    });
  });
});


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
